        /* Темная тема */
        body.dark-theme {
            background-color: #1a1a1a;
            color: #e0e0e0;
        }
        .dark-theme .card {
            background-color: #2d2d2d;
            border-color: #444;
        }
        .dark-theme .btn-secondary {
            background-color: #3a3a3a;
            border-color: #555;
        }
        .dark-theme .form-control {
            background-color: #3a3a3a;
            border-color: #555;
            color: #e0e0e0;
        }
        .dark-theme .nav-tabs .nav-link {
            background-color: #2d2d2d;
            border-color: #444;
            color: #e0e0e0;
        }
        .dark-theme .nav-tabs .nav-link.active {
            background-color: #444;
            border-color: #555;
            color: #fff;
        }
        /* Для Cropper.js */
        .dark-theme .cropper-view-box {
            outline-color: #5cb85c;
        }
        .dark-theme .cropper-modal {
            background-color: rgba(0, 0, 0, 0.7);
        }
        .dark-theme .bg-light {
          background-color: rgb(0 0 0) !important;
      }
         .dark-theme .card-body {
          color: white;
    }